/* Asegúrate de que no haya padding o margin extra en el contenedor principal */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Estilos para el contenedor del título */
.title-container {
  text-align: center;
  padding: 1rem 0;
  background-color: #caec09; /* Color de fondo del título */
  color: rgb(5, 4, 4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: sombra para el título */
}

/* Estilos para el título */
.title {
  margin: 0;
  font-size: 2rem; /* Tamaño del texto del título */
}

/* Estilos para el dashboard */
.dashboard {
  display: flex;
  min-height: 100vh;
}

/* Estilos para la barra lateral */
aside {
  width: 250px;
  background-color: #ece907;
  color: rgb(2, 2, 2);
  padding: 1rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

aside h2 {
  margin-top: 0;
}

nav {
  margin-top: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav ul li:hover {
  background-color: #d8db03;
}

/* Estilos para el contenido principal */
main {
  flex: 1;
  padding: 1rem;
}

/* Estilos para formularios */
form {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

th {
  background-color: #f4f4f9;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
aside {
  width: 250px;
  background-color: #ffff00;
  color: rgb(61, 59, 59);
  padding: 1rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  width: 80px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-right: 0.5rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav ul li:hover {
  background-color: #fdfbfb;
}